body {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tile {
	border: 2px solid black;
	height: 100px;
	width: 100px;
	list-style-type: none;
	display: inline-flex;
}

.tile.inactive {
	background: white;
}

.tile.active {
	background: red;
}

.before-container {

}

.after-container {

}

.game-history {

}

.hidden {
	display: none;
}