
body {
	/*width: 600px;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #E8E8E8;
}

ul {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tile {
	border: 2px solid black;
	height: 100px;
	width: 100px;
	list-style-type: none;
	display: inline-flex;
	border-radius: 6px;
  cursor: pointer;
}

.tile.inactive {
	background: ghostwhite;
	transition-property: background;
  transition-duration: .1s;
  transition-timing-function: linear;
}

.tile.inactive:hover {
	background: #D8D8D8;
}

.tile.active {
	background: red;
	transition-property: background;
  transition-duration: .1s;
  transition-timing-function: linear;

}

.tile.active:hover {
	background: #CC0000;
}

.tile.active:active {
	background: #FF99CC;
	-webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.title {
	background-color: #484848;
	height: 6em;
	margin-top: -1.7em;
	margin-bottom: 2em;
	/*background-image: url('../img/tiles.jpg');
	background-position: 0 bottom;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;*/
}

.title h1 {
	/*font-family: 'Shadows Into Light', cursive;*/
	font-family: 'Bangers', cursive;
	padding: 1em;
	color: white;
	font-size: 2em;
	letter-spacing: 0.2em;
}

button {
	background-color: #3f729b;
		border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    margin: 3px 1px;
    cursor: pointer;
}

#player-name {
	height: 20px;
	text-align: center;
}

#submit-button {
	border-radius: 4px;
	margin: 0 2em;
	background-color: red;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: none;
	font-size: 0.8em;
	padding: 5px 20px;
	margin: 3px 3px;
	cursor: pointer;

}

.before-container {

}

.after-container {

}

.instructions {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.game-history {
width: 200px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.hidden {
	display: none;
}
